# Bytecode / Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/

# VSCode
.vscode/

# Build / Distribution
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.env/

# Tkinter related
*.tcl
*.tk

# OS Dateien
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Python wheel
*.whl

# PyInstaller
*.manifest
*.spec